{% extends 'base.html' %}
{% block content %}

<h2>My Bookings</h2>

<table class="table">
    <tr>
        <th>Room</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for booking in bookings %}
    <tr>
        <td>{{ booking.room.room_number }}</td>
        <td>{{ booking.check_in }}</td>
        <td>{{ booking.check_out }}</td>
        <td>₹{{ booking.total_price }}</td>
        <td>{{ booking.status }}</td>
        <td>
            {% if booking.status != 'Cancelled' %}
            <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger btn-sm">Cancel</a>
            {% endif %}
        </td>
        <td>
    {% if booking.status == 'Pending' %}
        <a href="{% url 'make_payment' booking.id %}" class="btn btn-success btn-sm">Pay</a>
    {% endif %}
</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}